html,
body,
#root,
.wrapper {
  color: white;
  height: 100%;
}

.background-web {
  background-image: url("./assets/background_web.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.allpage {
  height: 100%;
  max-width: 100%;
}

.navbar {
  padding: 40px 140px 35px;
}

.spacexlogo {
  max-height: 44px;
}

.btn-round {
  color: black;
  border-radius: 30px;
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  background-color: white;
  width: 152px;
  height: 44px;
}

.btn-round:hover {
  color: black;
  background-color: rgb(200, 200, 200);
  box-shadow: 0 0 0 0rem rgba(39, 192, 106, 0);
}

.btn-round:focus {
  color: black;
  background-color: rgb(200, 200, 200);
  box-shadow: 0 0 0 0.15rem rgba(255, 255, 255, 0.3);
}

.title-text {
  color: white;
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 0px;
}

.linebreak {
  height: 5px;
  width: 290px;
  border-radius: 5px;
  display: inline-block;
  background-color: rgb(177, 197, 250);
}

.subtitle {
  margin-top: -10px;
  font-size: 20px;
  line-height: 28px;
  padding: 20px 220px 0px;
}

.vehicle {
  height: 500px;
}

.falcon1-image {
  max-width: 10%;
}

.falcon9-image {
  max-width: 20%;
}

.falconheavy-image {
  max-width: 22%;
}

.starship-image {
  max-width: 38%;
}

.btn-vehicle {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.5s;
  transform: scale(1);
}

.btn-vehicle:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.btn-vehicle:active {
  cursor: pointer;
  transform: scale(1.25);
}

.modaltext {
  font-size: 18px;
}

.modal-close {
  color: white;
  border-radius: 5px;
  font-size: 26px;
  line-height: 16px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  min-width: 35px;
  height: 35px;
  margin-top: -10px;
  margin-left: -10px;
}

.modal-close:hover {
  cursor: pointer;
  font-size: 26px;
  background-color: rgba(0, 0, 0, 0.35);
}

.rocket-status {
  font-weight: 700;
  text-align: center;
  border-radius: 30px;
  padding: 10px;
  max-width: 200px;
}

.inactive {
  color: rgb(201, 82, 78);
  border: 3px solid rgb(201, 82, 78);
}

.active {
  color: rgb(32, 158, 106);
  border: 3px solid rgb(32, 158, 106);
}

.engine-list {
  font-weight: 600;
}

.engine-sublist {
  font-weight: 400;
}

.modalimage {
  max-height: 725px;
}

.rocket-description {
  line-height: 29px;
}
